@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 97%;
    --foreground: 220 43% 14%;
    --card: 0 0% 100%;
    --card-foreground: 220 43% 14%;
    --primary: 216 68% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 32% 91%;
    --secondary-foreground: 216 68% 14%;
    --muted: 214 32% 91%;
    --muted-foreground: 218 15% 42%;
    --accent: 28 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 28% 90%;
    --input: 216 28% 90%;
    --ring: 28 100% 50%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
